# fly.toml app configuration file generated for piggybank-api on 2025-12-09T16:02:00-07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'piggybank-api'
primary_region = 'sjc'

[build]
  dockerfile = 'Dockerfile'

[env]
  DATABASE_URL = 'sqlite:////data/piggybank.db'

[[mounts]]
  source = 'piggybank_data'
  destination = '/data'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpus = 1
  memory_mb = 512
